@import helpers/all
@import generated/sprite-svg
@import common
@import layouts
@import main

*
	font-family: 'Roboto', sans-serif
	font-size: 14px

.container
	max-width: 1000px
	margin: 0 auto
	+r(1020) 
		// width: 
		margin: 0 20px

.wrap
	display: flex
	flex-direction: column
	height: 100vh
	
.hero
	height: 100%

////////////////////////////////////////////////////////////////


// HEADER


////////////////////////////////////////////////////////////////

.header
	&__logo
		display: block
		margin: 30px auto
	&__bottom
		border-top: 1px solid #eee
		.container
			padding: 15px 0
			display: flex
			flex-direction: row
			justify-content: space-between
			align-items: center
	&__menu
		ul
			li
				display: inline-block
				padding: 0 20px
				&:first-child
					padding-left: 0
				a
					text-transform: uppercase
					text-decoration: none
					font-size: 14px 
					color: #170F11
					&:after
						content: '' 
						display: block
						width: 0
						height: 2px
						background: #170F11
						transition: width .53s
					&:hover::after
						width: 100%
						transition: width .53s										
	&__icons
		a
			text-decoration: none
		.icon
			fill: #170F11
			font-size: 24px
			margin-left: 20px
			&:hover,
				fill: #fff
				border-radius: 50%
				background: #170F11 
				transition: all .64s ease-in-out
		.cart
			position: relative
		.cart-number
			position: absolute
			top: -15px
			right: -9px
			border-radius: 50%
			border: 2px solid #fff
			color: #fff
			background: #000
			font-size: 10px
			line-height: 1.2
			padding: 1px 5px
////////////////////////////////////////////////////////////////


// HERO


////////////////////////////////////////////////////////////////			
.hero
	.container
		position: relative
		color: #a9765a 
		display: flex
		flex-direction: column
		justify-content: center
		height: 100%
		align-items: start
		padding-left: 0
		text-align: left
	&__suptitle
		font-size: 47px
		margin-bottom: 25px
		margin-top: 25px 
		text-transform: uppercase
		font-weight: normal 
		+r(900) 
			font-size: 45px
		+r(550) 
			font-size: 30px
			margin-bottom: 15px
		+r(410) 
			font-size: 25px
		
	&__title, &__title>span
		font-size: 77px
		font-weight: normal
		line-height: 1
		text-transform: uppercase
		+r(900) 
			font-size: 68px
			margin-bottom: 25px
		+r(550) 
			font-size: 50px
		+r(410) 
			font-size: 40px
			
	&__title
		margin-bottom: 35px
		+r(925) 
			text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff	
		span
			color: #170f11
	&__text
		font-size: 16px
		line-height: 1.7
		margin-bottom: 70px
		max-width: 60%
		+r(410) 
			max-width: 90%
			font-size: 14px
			line-height: 1.5
			margin-bottom: 40px
		
button
	margin-top: 20px
	position: relative
	bottom: 30px 
	display: inline-block
	color: #fff
	background: #170F11  
	text-decoration: none
	font-size: 20px
	text-transform: uppercase
	font-weight: normal
	line-height: 1
	padding: 15px 30px
	text-align: center
	width: 180px
	transition: 1s 
	&:before,&:after
		content: '' 
		display: block
		position: absolute
		height: 100%
		top: 0
		filter: blur(30px) 
	&:before
		background: rgba(255,255,255, .5)
		width: 60px
		left: 0
		opacity: .5
		transform: translate(-130px) skewX(-15deg)
	&:after
		background: rgba(255,255,255, .2)
		width: 30px
		left: 30px
		opacity: 0
		transform: translate(-100px) scaleX(-15px)
	&:hover
		background: #a9765a
		cursor: pointer
	&:hover:before,&:hover:after
		transform: translateX(200px) skewX(-15deg) 
		opacity: .6
		transition: .7s
	&:hover:after
		opacity: 1
		
		
		
////////////////////////////////////////////////////////////////


// BURGER-MENU


////////////////////////////////////////////////////////////////
@media screen and (max-width: 864px) 
	.header__menu 
	    position: fixed;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    z-index: -1;
	    background: #fff;
	    opacity: 0;
	    transition: all .8s ease;
	      
	.header__menu ul 
	    position: absolute;
	    top: 50%;
	    right: 0
	    background: #FFF 
	    transform: translateY(-50%);

	.header__menu ul li 
	    display: block;
	    float: none;
	    text-align: right;
	    margin-bottom: 10px;

	.header__menu ul li:nth-child(1) a 
	    transition-delay: 0.2s;


	.header__menu ul li:nth-child(2) a 
	    transition-delay: 0.3s;


	.header__menu ul li:nth-child(3) a 
	    transition-delay: 0.4s;


	.header__menu ul li:nth-child(4) a 
	    transition-delay: 0.5s;

	.header__menu ul li:nth-child(5) a 
	    transition-delay: 0.6s;

	.header__menu ul li:nth-child(6) a 
	    transition-delay: 0.65s;

	.header__menu ul li:nth-child(7) a 
	    transition-delay: 0.7s;


	.header__menu ul li:not(:first-child) 
	    margin-left: 0;


	.header__menu ul li a
	    padding: 10px 24px;
	    opacity: 0;
	    color: #a9765a;
	    font-size: 14px;
	    font-weight: 600;
	    letter-spacing: 1.2px;
	    transform: translateX(-20px);
	    transition: all 0.2s ease;
	    display: inline-block


	.nav-btn 
		position: fixed;
		right: 10px;
		top: 10px;
		display: block;
		width: 48px;
		height: 48px;
		cursor: pointer;
		z-index: 9999;
		border-radius: 50%;
		background: #eee

	.nav-btn i 
	    display: block;
	    width: 20px;
	    height: 2px;
	    background: #000;
	    border-radius: 2px;
	    margin-left: 14px;


	.nav-btn i:nth-child(1) 
	    margin-top: 16px;


	.nav-btn i:nth-child(2) 
	    margin-top: 4px;
	    opacity: 1;


	.nav-btn i:nth-child(3) 
	    margin-top: 4px;



#nav:checked + .nav-btn 
      transform: rotate(45deg);


#nav:checked + .nav-btn i 
      background: #000;
      transition: transform 0.2s ease;


#nav:checked + .nav-btn i:nth-child(1) 
      transform: translateY(6px) rotate(180deg);


#nav:checked + .nav-btn i:nth-child(2) 
      opacity: 0;


#nav:checked + .nav-btn i:nth-child(3) 
      transform: translateY(-6px) rotate(90deg);


#nav:checked ~ .header__menu 
      z-index: 9990;
      opacity: 1;


#nav:checked ~ .header__menu ul li a 
      opacity: 1;
      transform: translateX(0);


.hidden 
      display: none;

		 
		
		